html,body{
    width: 100%;
}

.banner{
    margin: 0px auto !important;
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
}
.banner P{
    margin:0px;
    padding: 0px;
}
.banner P:first-child{
    float: left;
}
.banner P:last-child{
    float: right;
}
.pil{
    font-weight: bold;
    font-size: 12pt;
    clear: both;
    border: 0px double black ;
    border-bottom-width: 5px;
}
.head{
    font-size: 16pt;
    display: inline-block;
}
.head-center{
    font-size: 16pt;
    display: block;
    text-align: center;
}
.container-fluid{
    padding: 0px;
}
.content:nth-of-type(2n-1){
    background-color: #00796B;
    height: 350px;
    color: white;
}
.content:nth-of-type(2n-1)>img{
    float: right;
    width: auto;
    height: 100%;
}
.content:nth-of-type(2n){
    background-color: #303F9F;
    height: 350px;
    color: white;
}
.content:nth-of-type(2n)>img{
    float: left;
    width: auto;
    height: 100%;
}